.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.label-input {
    font-weight: bold;
}

.input,
.error-input {
    display: inline;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 248, 239);
}

.error-input {
    border: 2px solid red;
}

.error {
    color: red;
}