.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
    width: 400px;
}

.input-error {
    border: 1px solid red;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}